.classpath

.settings/

.project

target/

.vscode/

.scannerwork/
*.prefs
placements/.settings/org.eclipse.wst.common.component
placements/.settings/org.eclipse.wst.common.project.facet.core.xml
