<html>
    <head>
        <title>Companies</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="angular.min.js"></script>
        <script src="util.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <style>
            label{
                color: white
            }
        </style>
    </head>
    <body style="background-color: lightgrey"  ng-app="companyModule" >
        <nav class="navbar navbar-default" style="background-color: #3a3f46" ng-controller="logoutController">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style="color: white">Placement Management System</a>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="profile.html" style="color: white">Profile</a>
                    </li>
                    <li>
                        <a href="viewCompanies.html" style="color: white">View Companies</a>
                    </li>
                    <li  class="active">
                        <a href="#" >Change Password</a>
                    </li>
                    <li>
                        <a ng-click="logout()" style="color: white">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-6 col-md-3">
            </div><!--/span-->
            <div class="col-6 col-md-6">
                <div class="jumbotron jumbotron-fluid" style="background-color: #3a3f46" ng-controller="changePasswordController  ">
                    <div class="container" style="background-color: #3a3f46" >
                        <form>
                            <div class="form-group">
                                <label for="currentPassword">Current Password</label>
                                <input type="password" ng-model="currentPassword" class="form-control" id="currentPassword" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="newPassword">New Password</label>
                                <input type="password" ng-model="newPassword" class="form-control" id="newPassword" placeholder="re-enter Password">
                            </div>
                            <button type="button" class="btn btn-primary" ng-click="changePassword()">Submit</button>
                        </form>
                    </div>
                </div>
            </div><!--/span-->
            <div class="col-6 col-md-3">
            </div><!--/span-->
        </div><!--/row-->
    </body>
</html>