<html>
    <head>
        <title>Companies</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="angular.min.js"></script>
        <script src="util.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    </head>
    <body ng-app="companyModule">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-6 col-md-3">
            </div><!--/span-->
            <div class="col-6 col-md-6">
                <div class="jumbotron jumbotron-fluid" >
                    <div class="container" ng-controller="companyList">
                        <table class="table table-hover">
                            <thead>
                                <th>Company Name</th>
                                <th>Package</th>
                                <th>Job Profile</th>
                            </thead>
                            <tbody ng-repeat="company in companies">
                                <tr>
                                    <td>{{company.name}}</td>
                                    <td>{{company.package}}</td>
                                    <td>{{company.profile}}</td>
                                    <td><button type="button" class="btn btn-primary" ng-click="closeCompany(company.id)">close</button></td>
                                </tr>
                            </tbody>
                        </table>
            </div><!--/span-->
            <div class="col-6 col-md-3">
            </div><!--/span-->
        </div><!--/row-->
    </body>
</html>